@{
    ViewData["Title"] = "Employee";
}
<div class="rounded-3 container my-5 py-5 z-depth-1 secondarColor">


    <!--Section: Content-->
    <section class="px-md-5 text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <h1 class="text-500 my-3">Department</h1>
                    <a asp-controller="Department" asp-action="DepartmentCreate" class="button-create d-block mb-3 text-center mx-2 text-decoration-none" type="button">CREATE</a>
                </div>
                @model IEnumerable<Department>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Department Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Location</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dept in Model)
                        {
                            <tr>
                                <th scope="row">@dept.Department_Id</th>
                                <td>@dept.Name</td>
                                <td>@dept.Manager</td>
                                <td>@dept.Location</td>
                                <td class="d-flex">
                                    <a asp-controller="Department" asp-action="Edit" asp-route-id="@dept.Department_Id" class="button-edit d-block mb-3 text-center mx-2 text-decoration-none" type="button">EDIT</a>
                                    <a asp-controller="Department" asp-action="Delete" asp-route-id="@dept.Department_Id" class="button-delete d-block mb-3 text-center text-decoration-none" type="button">DELETE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>