
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUD.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
   
</head>
<body class="mainColor">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light mainColor p-5 pb-0 ">
            <div class="container-fluid">
                <h1 class="hrms">HRMS</h1>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (!string.IsNullOrEmpty(ViewBag.Username))
                        {
                            <li class="nav-item mx-3 my-2">
                                <a id ="homeLink" class="text-decoration-none text-white" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                            </li>
                            <li class="nav-item mx-3 my-2">
                                <a id="departmentLink" class="text-white text-decoration-none" asp-area="" asp-controller="Department" asp-action="Department">Department</a>
                            </li>
                            <li class="nav-item mx-3 my-2">
                                <a id="employeeLink" class="text-decoration-none text-white" asp-area="" asp-controller="Employee" asp-action="Employee">Employee</a>
                            </li>
                            <li class="nav-item mx-3 my-2">
                                <a id="designationLink" class="text-decoration-none text-white" asp-area="" asp-controller="Designation" asp-action="Designation">Designation</a>
                            </li>
                            <li class="nav-item mx-3 my-2">
                                <a id="userAccountLink" class="text-decoration-none text-white" asp-area="" asp-controller="UserAccount" asp-action="UserAccount">UserAccount</a>
                            </li>
                            <li class="nav-item">
                                <a class="button-60 text-decoration-none text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }else{
                            <li class="nav-item mx-3">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                                <li class="nav-item mx-3">
                                <a class="nav-link text-white" style="cursor: pointer;" onclick="scrollToSection('about')">About</a>
                                </li>
                                <li class="nav-item mx-3">
                                <a class="nav-link text-white" style="cursor: pointer;" onclick="scrollToSection('contact')">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="button-60 text-white" asp-area="" asp-controller="Account" asp-action="registration">Get Started</a>
                                </li>
                            }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-3 my-4" style="margin-top: 100px;">
        <ul class="nav text-white justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="px-2 text-decoration-none text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="px-2 text-decoration-none text-white">Features</a></li>
            <li class="nav-item"><a href="#" class="px-2 text-decoration-none text-white">Pricing</a></li>
            <li class="nav-item"><a href="#" class="px-2 text-decoration-none text-white">FAQs</a></li>
            <li class="nav-item"><a href="#" class="px-2 text-decoration-none text-white">About</a></li>
        </ul>
        <p class="text-center white-muted">© 2022 Company, Inc</p>
    </footer>
    <script>
        function scrollToSection(contact) {
            var section = document.getElementById(contact);
            window.scrollTo({
                top: section.offsetTop,
                behavior: 'smooth'
            });
        }

        function setActive(id) {
            // Remove the active class from all links
            document.querySelectorAll('nav a').forEach(link => {
                link.classList.remove('active');
            });

            // Add the active class to the clicked link
            document.getElementById(id).classList.add('active');
        }

        // Set the active class for the department link on page load
        window.onload = function () {
            var currentUrl = window.location.href.toLowerCase();
            var departmentUrl = "@Url.Action("Home", "Home")".toLowerCase();
            if (currentUrl.indexOf(departmentUrl) !== -1) {
                document.getElementById('homeLink').classList.add('active');
            }
            var departmentUrl = "@Url.Action("Department", "Department")".toLowerCase();
            if (currentUrl.indexOf(departmentUrl) !== -1) {
                document.getElementById('departmentLink').classList.add('active');
            }

            var employeeUrl = "@Url.Action("Employee", "Employee")".toLowerCase();
            if (currentUrl.indexOf(employeeUrl) !== -1) {
                document.getElementById('employeeLink').classList.add('active');
            }

            var designationUrl = "@Url.Action("Designation", "Designation")".toLowerCase();
            if (currentUrl.indexOf(designationUrl) !== -1) {
                document.getElementById('designationLink').classList.add('active');
            }

            var userAccountUrl = "@Url.Action("UserAccount", "UserAccount")".toLowerCase();
            if (currentUrl.indexOf(userAccountUrl) !== -1) {
                document.getElementById('userAccountLink').classList.add('active');
            }
        };
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
