@{
    ViewData["Title"] = "Employee";
}

<div class="rounded-3 secondarColor container my-5 py-5 z-depth-1">


        <!--Section: Content-->
        <section class="text-lg-left px-5 dark-grey-text">


            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
            <div class="col-md-12" text-center>
                <div class="d-flex justify-content-between">
                    <h1 class="text-500 my-3">Employee</h1>
                    <a asp-controller="Employee" asp-action="EmployeeCreate" class="button-create d-block mb-3 text-center mx-2 text-decoration-none" type="button">CREATE</a>
                </div>
                @model IEnumerable<Employee>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Employee Id</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Position</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var employee in Model)
                            {
                            <tr>
                                <th scope="row">@employee.Employee_Id</th>
                                <td>@employee.First</td>
                                <td>@employee.Last</td>
                                <td>@employee.Birthday</td>
                                <td>@employee.Gender</td>
                                <td>@employee.Position</td>
                                <td class="d-flex">
                                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Employee_Id" class="button-edit d-block mb-3 text-center mx-2 text-decoration-none" type="button">EDIT</a>
                                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Employee_Id" class="button-delete d-block mb-3 text-center text-decoration-none" type="button">DELETE</a>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->


        </section>
        <!--Section: Content-->


    </div>

