@{
    ViewData["Title"] = "Departement";
}


<div class="rounded-3 secondarColor container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="text-lg-left px-5 dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-12
">

                <!-- Inline CSS -->
                <div class="d-flex justify-content-between">
                    <h1 class="text-500 my-3">User Acount</h1>
                    <a asp-controller="UserAccount" asp-action="UserAccountCreate" class="button-create d-block mb-3 text-center mx-2 text-decoration-none" type="button">CREATE</a>
                </div>
                @model IEnumerable<UserAccount>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acount</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userAcc in Model)
                        {
                            <tr>
                                <th scope="row">@userAcc.UserAccount_Id</th>
                                <td>@userAcc.First_Name</td>
                                <td>@userAcc.Last_Name</td>
                                <td>@userAcc.Mobile</td>
                                <td>@userAcc.Email_Account</td>
                                <td>@userAcc.Account</td>
                                <td>@userAcc.Gender</td>
                                <td class="d-flex">
                                    <a asp-controller="UserAccount" asp-action="Edit" asp-route-id="@userAcc.UserAccount_Id" class="button-edit my-3 text-center mx-2 text-decoration-none" type="button">EDIT</a>
                                    <a asp-controller="UserAccount" asp-action="Delete" asp-route-id="@userAcc.UserAccount_Id" class="button-delete my-3 text-center text-decoration-none" type="button">DELETE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>
