@{
    ViewData["Title"] = "Designation";
}
<div class="card container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-8 text-center">

                <h2 class="display-4">Welcome to Designation Page</h2>
                <h5>by John Alfread Divino</h5>
                @model IEnumerable<Designation>
                <div class="justify-content-end d-flex align-items-end">
                    <a asp-area="" asp-controller="Designation" asp-action="DesignationCreate" type="button" class="btn btn-info btn-icon-text justify-content-end align-items-end m-2">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i> + ADD
                    </a>
                </div>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Designation ID</th>
                            <th scope="col">Designation</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var designated in Model){
                        <tr>
                                <th scope="row">@designated.Designation_Id</th>
                                <td>@designated.Designated</td>
                                <td>@designated.First</td>
                                <td>@designated.Last</td>
                            <td>
                                    <a asp-controller="Designation" asp-action="Edit" asp-route-id="@designated.Designation_Id" type="button" class="btn btn-primary btn-icon-text">
                                        <i class="mdi mdi-file-check btn-icon-prepend"></i> Update
                                    </a>
                                    <a asp-controller="Designation" asp-action="Delete" asp-route-id="@designated.Designation_Id" type="button" class="btn btn-danger btn-icon-text">
                                        <i class="mdi mdi-alert btn-icon-prepend"></i> Delete
                                    </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>